/*@import url(http://fonts.googleapis.com/css?family=Marvel:400,700);*/
@import url("../docu/font/webfont.css");


body{
	font-family: "junction-light", sans-serif;
	margin: 0;
	padding: 30px;
	font-size: 10px;
	background:black;
	color: white;
}
a{display:block; margin: 10px; color:#fff; border:solid black 1px; width:200px;padding-left: 3px; text-decoration: none;}
a:hover{border:solid white 1px; }
.pixel{	position: absolute; z-index: 0;}
.pixel:hover{ border:solid rgba(255,255,255,0.3) 1px; z-index:1; }
#pixel{ position: absolute;
	z-index: 3;
	right:0;
	width:500px;
	height:500px;
}
.name{	z-index: 1; position: relative; background-color: black; color: white; text-align: right; display:none;padding-left:4px;padding-right:4px;}
form{
	display: block;
	width: 490px;
	background-color: black;
	margin: 0;
	padding:30px;
}

h1{ font-size: 22px;
	background-color: black;
	width: 500px;
	padding:20px;
	padding-left:30px;
	margin-top: 0px;
	margin-bottom: 5px;
}
h2{ font-size: 42px;
	max-width: 500px;
	height:66px;
	display: block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 40px;
	color:#888;
}
#post{ 
	width: auto;
	text-decoration: none; 
	font-size: 20px; 
	border:solid white 1px; 
	display: inline-block; 
	padding: 0 5px 0 5px ; 
	color:#fff; 
	margin-left: 233px;
}
#post:hover { border:solid black 1px; }

.colorBlock{
	display: inline-block;
	width:20px;
	height:20px;
}
.nameBlock{
	width:150px;
	margin-left: 10px;
	display: inline-block;}